/bin/
**/build/
**/bin/
/.gradle/
/.idea/
**/*.iml
/.tomcatplugin
/target/
.#*
.metadata
.project
.classpath
.springBeans
.settings
/build/
**/logback.xml
src/impl/resources/application-local.properties
.factorypath
